@font-face{
    font-family: 'Verdana';
    src: url('Verdana/Verdana.eot');
    src: url('Verdana/Veedana.eot?iefix') format('eot'),
    url('Verdana/Verdana.woff') format('woff'),
    url('Verdana/Verdana.ttf') format('truetype'),
    url('../fonts/WebFont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
    }
body{
    width: 1266px;
    background: url(img/background.png) no-repeat center top/cover;
    margin:0 auto;
    font-family: Verdana;
}
.container{
    width: 1050px;
    margin: 0 auto;
}
header{

}
    /* .logo_hyper
        {
        }
        .logo_hyper
            {
                
            text-decoration: none;
            display: inline-block;
            } */
    .logo{
        margin-top: 49px;
        width: 46px;
        height: 44px;
        display: inline-block;
    }
    .logo_word{
        display: inline-block;
        color: #f26522;
    }
    .contacts{
        color: #fff;
        font-family: Verdana;
        color:  #ffffff;
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        float: right;
        margin-top: 49px;
        display: inline-block;
    }
        .first{
            font-size: 29px;
            font-family: Verdana;
            font-weight: 700;
        }
        .second{
            font-size: 15px;
            font-weight: 700;
            letter-spacing: 2px;
        }
.section1{
    margin-bottom:100px;
    margin-top: 48px;
}
    .layer
        {
            width: 307px;
            height: 200px;   
            position: relative;
        }
        .layer_21{background: url(img/Layer\ 21.png) no-repeat center top/cover;}
        .layer_22{background: url(img/Layer\ 22.png) no-repeat center top/cover;}
        .layer_23{background: url(img/Layer\ 23.png) no-repeat center top/cover;}
        .layer_24{background: url(img/Layer\ 24.png) no-repeat center top/cover;}
        .layer_25{background: url(img/Layer\ 26.png) no-repeat center top/cover;}
        .layer_26{background: url(img/Layer\ 25.png) no-repeat center top/cover;}
        .openPrice{
            width: 307px;
            height: 50px;
            position: absolute;
            top:150px;
            background-color: #f26522;
            opacity: 0;
        }
            .layer:hover .openPrice{
                opacity: 1;
                        }
        .context
            {
                font-family: Verdana;
                color:  #ffffff;
                font-size: 18px;
                font-weight: 400;
                line-height: 21px;
                text-align: center;
                position: absolute;
                top: 220px;
                left: 84px;
            }
        .price
            {
                display: inline-block;
                float: right;
                color: #fff;
                font-family: Verdana;
                color:  #ffffff;
                font-size: 24px;
                margin-right: 7px;
                font-weight: 400;
                line-height: 50px;
            }
            .buyTours a
                {
                    display: inline-block;
                    float: left;
                    color: #fff;
                    font-family: Verdana;
                    color:  #ffffff;
                    font-size: 24px;
                    margin-left: 7px;
                    font-weight: 400;
                    line-height: 50px;
                    text-decoration: none;
                }
.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.copyRight{
    color:#fff;
    text-align: center;
    word-spacing: 3px;
    font-size: 12px;
    margin-top:80px;
    margin-bottom: 30px;
}
